# 자동생성 파일
.cache/
.conda/
.git/
.config/
.ipython/
.local/
.nv/
.vscode-server/
.bash_history
.bashrc
.gitconfig
.git-credentials
.profile
.python_history
.wget-hsts
.netrc
.pipwin
__pycache__/

# 폴더
input/data
input/code/submission
input/code/saved
mmsegmentation/artifacts
mmsegmentation/wandb
mmsegmentation/work_dirs
artifacts/
wandb/
work_dirs/
soup_recipe/
notebooks/
smp/saved
