# 자동생성 파일
.cache/
.conda/
.git/
.config/
.ipython/
.local/
.nv/
.vscode-server/
.bash_history
.bashrc
.gitconfig
.git-credentials
.profile
.python_history
.wget-hsts
__pycache__/

.ipynb_checkpoints
.jupyter/
work_dirs/

# 폴더
input/data
input/code/submission
input/code/saved